body {
    font-family: serif;
    word-spacing:15px;
    font-size:110% ;
    max-width:90%;
    margin:auto;  
    /*
    background-image: url("fermier-chinois.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    */
    margin:auto;

}
html{
    color:darkviolet;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

}
/* unvisited link */
a:link {
    color: red;
  }
  /* visited link */
  a:visited {
    color:gold;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
  blockquote{
      margin-top: 80px;
      margin-bottom: 80px;
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    font-size: 160%;
    font-style: italic;
    background-color:rgba(176, 175, 175, 0.903);
    border-left:3px;
    padding: 30px;

  }
  .farmer{
    border-left-style:solid;
    border-left-color: yellow;
  }
  p{
    font-weight: bold;
  }
  
  .villager{
    border-left-style: solid;
    border-left-color: red;

  }
  
  header > h1{
    background-color: yellow;
  }
  .good{
    text-transform: capitalize;
    text-transform: uppercase;
    color: green;
  }
  .bad{
    text-transform: uppercase;
    color: red;
  }
  tr.d0 td {
    background-color: blue;

  }
  tr.d1 td{
    background-color: greenyellow;

  }
  tr.d2 td {
    background-color: blue;
  }
  tr.d3 td {
    background-color:greenyellow;


  }
  tr.d4 td {
    background-color: blue;


  }
  
  /*
 q{
    width: 50%;
    margin:auto;
    font-size: 160%;
    font-style: italic;
    text-align: center;
    background-color:rgba(176, 175, 175, 0.903);
    border-left:3px;
    padding: 30px;

}
*/


